:root {
  --txt-color: #2e2e2e;
  --txt-color2: #ffffff;
  --txt-color3: #6b6b6b;
  --txt-color4: #e24c4b;
  --txt-color5: #32bea6;

  --border-color: #323232;

  --bg-color: #ffffff;
  --bg-color2: #f0f1f5;
  --bg-color3: #6b6b6b;
}
@font-face {
  font-family: "YuGothic";
  src: url('../fonts/yugothib.ttf') format('ttf');
  font-weight: 700;
}
body {
  color: var(--txt-color);
  background: var(--bg-color2);
  font-size: 1em;
  font-family: "YuGothic";
  font-weight: 700;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}
.wrapper-content {
  /* max-width: 90%; */
  /* margin: 30px auto; */
  border-radius: 20px 20px 0 0;
  overflow: hidden;
}
/* title */
.page-title {
  background: var(--bg-color3);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  color: var(--txt-color2);
}
.page-title h1 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 60%;
}
.btn-back {
  position: absolute;
  left: 30px;
  color: inherit;
  font-size: 30px;
}
/* main content */
.main-content {
  padding: 60px 90px;
}
/* header coupon */
.list-used-coupons .coupons:not(:last-child) {
  margin-bottom: 90px;
}
.list-used-coupons .coupons .used-on {
  position: relative;
  margin-bottom: 30px;
  font-size: 1.25em;
}
.list-used-coupons .coupons .used-on:after {
  position: absolute;
  content: "";
  height: 1px;
  border-bottom: 2px dotted var(--border-color);
  top: 50%;
  margin-top: -1px;
  left: 0;
  right: 0;
}
.list-used-coupons .coupons .used-on > span {
  background: var(--bg-color2);
  position: relative;
  z-index: 1;
  padding-right: 10px;
}
.list-used-coupons .coupons .used-on .txt-date {
  position: relative;
  padding-right: 10px;
  margin-right: 10px;
}
.list-used-coupons .coupons .used-on .txt-date:after {
  content: "";
  width: 1px;
  background: var(--border-color);
  position: absolute;
  right: 0;
  top: 2px;
  bottom: 2px;
}
.list-used-coupons .coupons .coupon-detail {
  margin-bottom: 40px;
}
.list-used-coupons .coupons .coupon-detail .selected {
  font-size: 1.25em;
  color: var(--txt-color5);
  padding: 20px;
  display: flex;
  align-items: center;
  background: var(--bg-color);
  border-radius: 15px 15px 0 0;
}
.list-used-coupons .coupons .coupon-detail .selected i {
  font-size: 30px;
  margin-right: 10px;
}
/* coupon pay for */
.list-used-coupons .coupons .coupon-detail .pay-for {
  display: flex;
  align-items: center;
  border-radius: 0 0 15px 15px;
  padding: 0 20px 20px;
  overflow: hidden;
  background: var(--bg-color);
}
.list-used-coupons .coupons .coupon-detail .pay-for .col-left {
  max-width: 24%;
  text-align: center;
  padding: 0 20px;
}
.list-used-coupons .coupons .coupon-detail .pay-for .col-left .product-image {
  margin-bottom: 25px;
}
.list-used-coupons .coupons .coupon-detail .pay-for .col-left .product-name {
  line-height: 1.5;
  margin: 0;
  font-size: 1.25em;
}
.list-used-coupons .coupons .coupon-detail .pay-for .col-left .discount {
  margin: 0 0 10px 0;
  font-size: 1.25em;
}
.list-used-coupons .coupons .coupon-detail .pay-for .col-left .condition-limit {
  color: var(--txt-color3);
}
.list-used-coupons .coupons .coupon-detail .pay-for .col-right {
  flex-grow: 1;
  text-align: center;
  font-size: 2em;
  color: var(--txt-color4);
  font-weight: 700;
}
/* footer coupon */
.list-used-coupons .coupons .coupon-detail .info-extra {
  padding: 20px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.25em;
  border-radius: 15px;
  background: var(--bg-color);
}
.list-used-coupons .coupons .coupon-detail .info-extra:before {
  content: "";
  display: block;
  border-top: 2px dotted var(--border-color);
  position: absolute;
  top: -1px;
  left: 10px;
  right: 10px;
}
.list-used-coupons .coupons .coupon-detail .info-extra .expiration-date {
  padding-right: 20px;
}
.list-used-coupons .coupons .coupon-detail .info-extra .txt-expiration {
  position: relative;
  padding-right: 10px;
  margin-right: 10px;
}
.list-used-coupons .coupons .coupon-detail .info-extra .txt-expiration:after {
  content: "";
  height: 100%;
  width: 1px;
  background: var(--border-color);
  position: absolute;
  right: 0;
  top: 0;
}
/* responsive */
@media(max-width: 767px) {
  .main-content {
    padding: 30px;
  }
  .page-title h1 {
    font-size: 1.5em;
  }
  .list-used-coupons .coupons .coupon-detail .pay-for .col-left {
    max-width: 60%;
  }
  .list-used-coupons .coupons .coupon-detail .pay-for .col-right {
    font-size: 1.3em;
  }
}
@media(max-width: 640px) {
  .list-used-coupons .coupons .used-on::after {
    display: none;
  }
  .list-used-coupons .coupons .coupon-detail .info-extra .txt-expiration {
    padding: 0;
    margin: 0 0 10px 0;
    display: block;
  }
  .list-used-coupons .coupons .coupon-detail .info-extra .txt-expiration:after {
    display: none;
  }
  .list-used-coupons .coupons .coupon-detail .info-extra .mfg-date {
    display: block;
    margin-bottom: 5px;
  }
}